/* .features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
} */

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* always 2 columns */
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 26.25rem) {
  .features-grid {
    gap: 0.625rem;
  }
}
