.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  margin-right: 20rem;
  gap: 2rem;
}

.profile {
  width: 10rem; 
  height: 10rem;
  background: #3A5A40;
  color: var(--white);
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
}

.header-info h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-green);
}

.header-info .date-time {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey-text);
}
